h3 {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px !important;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: 0 auto;
    /* padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px; */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #171b17;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    max-width: 400px;
    margin: 0 auto;
    /* padding: 20px; */
    /* background-color: #f5f5f5; */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    color: red;
    margin-top: 5px;
    text-align: center;
}

.result {
    max-width: 400px;
    margin: 0 auto;
    /* padding: 20px; */
    /* background-color: #f5f5f5; */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    color: #45a049;
    text-align: center;
    margin-top: 5px;
}   